/*
 *  Your app styles
 */

.login{
  background: url("http://www.mx7.com/i/bde/b9x6TL.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: top center;
}

#mainpage{
  margin: 450px 0px;
  position: fixed;
}
